<p style="color: green"><%= notice %></p>

<h1>Activity logs</h1>

<div id="activity_logs">
  <% @activity_logs.each do |activity_log| %>
    <%= render activity_log %>
    <p>
      <%= link_to "Show this activity log", activity_log %>
    </p>
  <% end %>
</div>

<%= link_to "New activity log", new_activity_log_path %>
