<h1>Editing users repository</h1>

<%= render "form", users_repository: @users_repository %>

<br>

<div>
  <%= link_to "Show this users repository", @users_repository %> |
  <%= link_to "Back to users repositories", users_repositories_path %>
</div>
