<div id="<%= dom_id repositories_tag %>">
  <p>
    <strong>Repository:</strong>
    <%= repositories_tag.repository_id %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= repositories_tag.tag_id %>
  </p>

</div>
