<h1>Editing repositories tag</h1>

<%= render "form", repositories_tag: @repositories_tag %>

<br>

<div>
  <%= link_to "Show this repositories tag", @repositories_tag %> |
  <%= link_to "Back to repositories tags", repositories_tags_path %>
</div>
